body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(125deg, #007bff, #e0e0e0);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s;
}

.login-card:hover {
    transform: scale(1.02);
  }

.login-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-input:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:disabled {
    background-color: #e0e0e0;
}

.login-btn:hover:not(:disabled) {
    background-color: #0056b3;
}

.error-text {
    color: #ff4d4f;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}