<div class="loginform">
    <div class="title"><b>Login Page</b></div>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          minlength="8"
          required
          #emailCtrl="ngModel"
          aria-describedby="emailHelp"
        />
        <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="alert">
          <div *ngIf="emailCtrl.errors?.['required']">Email is required</div>
          <div *ngIf="emailCtrl.errors?.['minlength']">
            Email must be at least 8 characters
          </div>
        </div>
      </div>
      <div  class="form-text">
        We'll never share your email with anyone else.
      </div>
  
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="password"
          minlength="8"
          required
          #passwordCtrl="ngModel"
        />
  
        <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="alert">
          <div *ngIf="passwordCtrl.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="passwordCtrl.errors?.['minlength']">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <div class="button d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="!email || !password" (click)="print()">
          Submit
        </button>
      </div>
    </form>
  </div>
  