<header id="navbar">
    <nav class="navbar-container container ">
      <a href="/" class="home-link">
            PlanItRight.
      </a>
      <button type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="navbar-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div id="navbar-menu" class="detached">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="/about">Logout</a></li>
        </ul>
      </div>
    </nav>
</header>
<body>
    <h2>Events</h2>
</body>
 