<header id="navbar">
  <nav class="navbar-container container ">
    <a href="/" class="home-link">
      PlanItRight.
    </a>
    <button type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false"
      aria-controls="navbar-menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="navbar-menu" class="detached">
      <ul class="navbar-links">
        <li class="navbar-item"><a class="navbar-link" href="/about">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>



<body>
  <h2 class="title-event" style="padding: 40px;">Your Events</h2>
  <div class="profile-container">
    <div class="profile-card">
      <img src="https://i.imgur.com/bZBG9PE.jpg" alt="image1" class="profile-icon" />
      <div class="profile-name">Kelly Seikma</div>
      <div class="profile-position">Web Designer</div>
      <a href="#" class="button">Connect</a>
    </div>
    <div class="profile-card">
      <img src="https://i.imgur.com/S4GNFIW.jpg" alt="image2" class="profile-icon" />
      <div class="profile-name">Mabel Maxwell</div>
      <div class="profile-position">Web Developer</div>
      <a href="#" class="button">Connect</a>
    </div>
    <div class="profile-card">
      <img src="https://i.imgur.com/cMSVQZC.jpg" alt="image3" class="profile-icon" />
      <div class="profile-name">Danny Liswell</div>
      <div class="profile-position">DevOps</div>
      <a href="#" class="button">Connect</a>
    </div>
  </div>

</body>