<div class="popup">
    <div class="popup-content">
      <button class="close-btn" (click)="onClose()" style="font-size: 30px;color: white;" title="Close"><b>X</b></button>
      <h2>Add New Task</h2>
      <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
        <div class="form-group">
          <label for="taskName">Name</label>
          <input type="text" id="taskName" name="taskName" [(ngModel)]="taskName" required>
        </div>
  
        <div class="form-group">
          <label for="dueDate">Due Date</label>
          <input type="date" id="dueDate" name="dueDate" [(ngModel)]="dueDate" required>
        </div>
  
        <div class="form-group">
            <label for="dueTime">Due Time</label>
            <input type="time" id="dueTime" name="dueTime" [(ngModel)]="dueTime" required>
          </div>

        <div class="form-group">
            <label for="taskDescription">Description</label>
            <input type="text" id="taskDescription" name="taskDescription" [(ngModel)]="taskDescription" required>
          </div>
  
        <div class="form-actions">
          <button type="submit" class="btn">Add Task</button>
          <button type="button" class="btn cancel" (click)="onClose()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
   